.lottery{
  .ch_chart {
    .ch_num_box {
      .text-align{
        font-size: 0;
        text-align: center;
      }
      .ch_num_show{

        li{
            .ba-red{
              background: red;
            }
          .ba-green{
            background: green;
            color: #fff;
          }
          .ba-blue{
            background: blue;
            color: #fff;
          }
            .red{
              color: red;
            }
            .green{
              color:green;
            }
            .blue{
              color: blue;
            }

        }
      }
    }

  }

}