.lt-wrapper-15{
  .lottery .lt-info .col-left>p{
    font-size: 0;
    height: 0.3rem;
  }
  .lottery .last-open{
    font-size: 0.475rem;
    line-height: 1.5rem;
    text-align: center;
    color:#d22018;
  }
  .lotto-cart .beishu-wrap .cishu{
    display: block;
  }
  //追号按钮
  .lotto-cart .beishu-wrap button.zhuihao-btn{
    display: none;
  }

}


.mmc-animation-wrapper{
  .ant-modal{
    top:0.9rem;
  }
  .ant-modal-header{
    text-align: center;
    height: 1rem;
    padding: 0;
    background: #d22018;

    .ant-modal-title{
      color:#fff;
      line-height: 1rem;
    }
  }
  .ant-modal-content{

    overflow: hidden;
  }
  .ant-modal-body{
    position: relative;

  }
  .mmc-animation-content {
    min-height: 10rem;
    .open-animate{
      padding-bottom: 16px;
      border-bottom:1px solid #ddd;
      .open-animation-content{
        display: flex;
        justify-content: space-between;
        .num {
          width: 40px;
          height: 40px;
          position: relative;
          display: inline-block;
          overflow: hidden;
        }
        span {
          display: inline-block;
          line-height: 40px;
          text-align: center;
          overflow: hidden;
        }
        i {
          width: 40px;
          height: 40px;
          color:#fff;
          background: #d22018;
          border-radius: 40px;
          display: block;
          text-align: center;
          font-style: normal;
        }
      }
    }

    .open-list{
      max-height: 260px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      padding: 0 0 10px 0;
      ul li{
        overflow: hidden;
        border-bottom:1px solid #ddd;
        &:last-child{
          border-bottom:none
        }
        span{
          width: 33%;
          display: block;
          float: left;
          text-align:center;
          line-height: 1rem;
          color:#333;
          &.active{
            color:#d22018;
          }
        }
      }
    }
    .onOk{
      position: absolute;
      bottom: 0;
      letter-spacing: 10px;
      left: 0;
      width: 100%;
      height: 1.1rem;
      background: #d22018;
      line-height: 1.1rem;
      text-align: center;
      font-size:0.4rem;
      color:#fff;
    }
  }

}
