.agency{
  img{
    background-size: 100% 100%;
    width:100%;
    margin-top: 1rem;
  }
  .agency_explain{
    padding: 0.8em .6em;
    font-size: .7em;

    h3{
      color: #d22018;
      font-size: .6rem;
    }
    p{
      font-size: .5rem;
      padding: 0.2rem 0.05rem 0.2rem 1em;
      line-height: 0.6rem;
    }
  }

}
