hr{
  border-top:1px solid #cccccc;
}

body{
  -webkit-text-size-adjust: none;
}

.behindNavbar{
  position:absolute;
  top:1rem;
  bottom:0;
  width:100%;
  overflow: hidden;
  background:white;
  .teamrechargeheader{
    position:fixed;
    width:100%;
    display:flex;
    background:rgb(164,0,0);
    height:0.875rem;
    align-items:center;
    color:#fff;
    font-size:0.328125rem;
    z-index:15;
    white-space:nowrap;
    li:first-child{
      margin-left: 1.125rem;
      margin-right: 1.5rem;
    }
    li:nth-child(2){
      margin-right:1.25rem;
    }
    li:nth-child(3){
      margin-right:1.40625rem;
    }
    li:nth-child(4){
      margin-right:0.625rem;
    }
  }
  .showContent{
    //-webkit-overflow-scrolling: touch;
    .teamlist{
      margin-top:0.875rem;
      margin-bottom:2rem;
    }
  }
  .teamlistSupplement{
    margin-bottom:1rem!important;
  }
}

.teamlist1{
  position:absolute;
  top:0.87rem;
  bottom:0;
  width:100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.changeLevel{
  color:#fff;
  width:1.2rem;
  height:0.4rem;
  z-index:25;
  font-size:0.38rem;
  position:absolute;
  top:0.28rem;
  left:8.2rem;
  span{
    color:#fff;
  }
}

.change-level-page{
    .change-level-content{
      position:absolute;
      top:1rem;
      //background:white;
      width:100%;
      font-size:0.35rem;
      p{
        height:0.9375rem;
        border-bottom:1px solid #f2f2f2;
        padding-left:0.3rem;
        line-height:0.9375rem;
        background:white;
        span:first-child{
          width:20%;
          display:inline-block;
        }
        .spanSecond{
          display:inline-block;
          text-align:right;
          width:80%;
          padding-right:0.5rem;
        }
      }
      p:first-child{
        background:#f5f5f9;
      }
      button{
        margin-top:1rem;
        margin-left:3rem;
        width:4.5rem;
        height:1rem;
        background:#d22018;
        border:none;
        color:#fff;
      }
    }
}

.pickUpDate{
  .am-list-item{
    z-index:25;
    position:fixed;
    left:7.5rem;
    top:0.17rem;
    height:0.7rem;
    width:2.1rem;
    min-height:1px!important;
    background-color:rgb(164,0,0);
    border-radius:4px;
    .am-list-line{
      padding-right:0.1rem;
      .am-list-content{
        color:#fff;
        font-size:0.3rem;
        padding-top:0.159375rem;
        padding-bottom:0.159375rem;
      }
      .am-list-extra{
        display:none;
      }
      .am-list-arrow{
        display:none;
      }
    }
  }
}

.arrow_left_forgroup{
  z-index:20;
  position:fixed;
  left:0.546875rem;
  top:0.390625rem;
  width:0.1875rem;
}


.count{
  animation:mymove .5s linear;
  display:flex;
  width:100%;
  height:0.9375rem;
  background-color:#f2f2f2;
  position:fixed;
  bottom:0;
  color:#303030;
  font-weight:bold;
  align-items:center;
  font-size:0.35rem;
  .deposit-all{
    display:flex;
    position: absolute;
    top: 0.3rem;
    left:0.2rem;
    color:#303030;
    font-weight:bold;
    align-items:center;
    padding-bottom: 0.4rem;
    font-size:0.35rem;
    background-color:#f2f2f2;
    i{
      font-style:normal
    }
    i:nth-child(2){
      margin-left:1.3rem;
    }
    i:nth-child(3){
      width:1.4rem;
    }
    i:nth-child(3),i:nth-child(5){
      color:#d22018;
    }
  }
}
.checkCount{

  position:fixed;
  width:100%;
  height: 1.6rem;
  bottom:0;
  span:first-child{
    position: absolute;
    display: inline-block;
    height:0.55rem;
    width:5%;
    margin-left: -0.1rem;
    top: 0.5rem;
  }
  span:nth-child(2){
    display: inline-block;
    width:89%;
    border-bottom: 1.5px solid #ddd;
    padding-bottom: 0.28rem;
    margin-left:0.4rem;
    margin-top:0.5rem;
  }
}
.countADD{
  animation:mymove .5s linear;
  @keyframes mymove
  {
    from {left:4.6rem;}
    to {left:0;}
  }
  background-color:#f2f2f2;
  position:fixed;
  width:100%;
  height: 1.6rem;
  bottom:0;
  .deposit-today{
    display:flex;
    position: absolute;
    top: 0.2rem;
    left: 1rem;
    color:#303030;
    font-weight:bold;
    align-items:center;
    font-size:0.35rem;
    i{
      font-style:normal
    }
    i:nth-child(2){
      margin-left:1.3rem;
    }
    i:nth-child(3){
      width:1.4rem;
    }
    i:nth-child(3),i:nth-child(5){
      color:#d22018;
    }
  }
  .deposit-all{
    display:flex;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color:#303030;
    font-weight:bold;
    align-items:center;
    padding-bottom: 0.4rem;
    font-size:0.35rem;
    background-color:#f2f2f2;
    i{
      font-style:normal
    }
    i:nth-child(2){
      margin-left:1.3rem;
    }
    i:nth-child(3){
      width:1.4rem;
    }
    i:nth-child(3),i:nth-child(5){
      color:#d22018;
    }
  }
}
.countforprofit{
  display:flex;
  width:100%;
  height:0.9375rem;
  background-color:#f2f2f2;
  position:absolute;
  bottom:0;
  color:#303030;
  font-weight:bold;
  align-items:center;
  font-size:0.35rem;
  li:first-child{
    padding-left:0.5278125rem;
    width:23%;
    text-align:left;
  }
  li:nth-child(2){
    width:33%;
    text-align:left;
    span{
      color:#d22018;
    }
  }
  li:nth-child(3){
    width:44%;
    text-align:left;
    span{
      color:#d22018;
    }
  }
}

.checkdatebutton{
  z-index:20;
  width:1.7rem;
  background:rgb(164,0,0);
  height:0.6rem;
  line-height:0.6rem;
  position:absolute;
  left:7.5rem;
  top:0.290625rem;
  font-size:0.328125rem;
  color:#fff;
  border-radius:0.078125rem;
  padding-left:0.16625rem;
}

.behindNavbar ul.teamrechargedetail{
  display:flex;
  width:9.375rem;
  height:0.9375rem;
  margin-left:0.234375rem;
  margin-right:0.234375rem;
  border-bottom:1px solid #f2f2f2;
  font-size:0.31rem;
  color:#303030;
  background:white;
  align-items:center;
  li:first-child{
    margin-left:0.15625rem;
    width:25%;
    text-align:center;
  }
  li:nth-child(2){
    width:26%;
    text-align:center;
  }
  li:nth-child(3){
    width:29%;
    text-align:center;
  }
  li:nth-child(4){
    width:20%;
    text-align:center;
    padding-left:0.15625rem;
  }
}

.behindNavbar ul.teamprofitheader{
  width:100%;
  display:flex;
  background:rgb(164,0,0);
  height:0.875rem;
  align-items:center;
  color:#fff;
  font-size:0.328125rem;
  position:fixed;
  z-index:15;
  li:first-child{
    margin-left: 1.09375rem;
    margin-right: 2.8125rem;
  }
  li:nth-child(2){
    margin-right:2.0625rem;
  }
  li:nth-child(3){
    margin-right:1.0625rem;
  }

}

.behindNavbar ul.teamprofitdetail{
  display:flex;
  width:9.375rem;
  height:0.9375rem;
  margin-left:0.234375rem;
  margin-right:0.234375rem;
  border-bottom:1px solid #f2f2f2;
  font-size:0.31rem;
  color:black;
  align-items:center;
  li:first-child{
    margin-left:0.15625rem;
    width:31%;
    padding-left:0.2rem;
  }
  li:nth-child(2){
    width:34%;
    text-align:center;
  }
  li:nth-child(3){
    width:35%;
    text-align:center;
  }
}

.behindNavbar ul.teamprofitchange1header{
  width:100%;
  display:flex;
  background:rgb(164,0,0);
  height:0.875rem;
  align-items:center;
  color:#fff;
  font-size:0.328125rem;
  position:fixed;
  z-index:15;
  li:first-child{
    margin-left: 1.09375rem;
    margin-right: 1.5rem;
  }
  li:nth-child(2){
    margin-right:1.03125rem;
  }
  li:nth-child(3){
    margin-right:1.3rem;
  }
  li:nth-child(4){
    margin-right:0.75rem;
  }
}

.behindNavbar ul.teamprofitchange1detail{
  display:flex;
  width:9.375rem;
  height:0.9375rem;
  margin-left:0.234375rem;
  margin-right:0.234375rem;
  border-bottom:1px solid #f2f2f2;
  font-size:0.31rem;
  color:black;
  align-items:center;
  li:first-child{
    margin-left:0.15625rem;
    width:25%;
    text-align:center;
  }
  li:nth-child(2){
    width:26%;
    text-align:center;
  }
  li:nth-child(3){
    width:18%;
    text-align:center;
  }
  li:nth-child(4){
    width:31%;
    text-align:center;
  }
}


.behindNavbar ul.teamcustom1header{
  width:100%;
  display:flex;
  background:rgb(164,0,0);
  height:0.875rem;
  align-items:center;
  color:#fff;
  font-size:0.328125rem;
  li:first-child{
    margin-left: 1.09375rem;
    margin-right: 1.5rem;
  }
  li:nth-child(2){
    margin-right:0.90625rem;
  }
  li:nth-child(3){
    margin-right:1.25rem;
  }
  li:nth-child(4){
    margin-right:0.65rem;
  }
}

.bonusodds{
  span{
    display:inline-block;
    font-family:"Microsoft YaHei";
    font-size:0.375rem;
    font-weight:bold;
    color:rgb(48,48,48);
    margin:0.8125rem 0.0125rem 0.78125rem 0.625rem;
  }
  input{
    width: 5.9375rem;
    height:0.78125rem;
    border:0.015625rem solid grey;
    margin:0.625rem 0 0.625rem 0;
  }
  button{
    width:7.34375rem;
    height:0.875rem;
    font-size:0.375rem;
    font-family:"Microsoft YaHei";
    color:rgb(255,255,255);
    margin:0 0 0.625rem 1.25rem;
    border-radius:0.078125rem;
    background: #d22018;
    border:0.015625rem solid #d22018;
  }
  hr{
    width:92%;
  }
}

.group_add_custom_detail{
  p{
    margin:0.16875rem 0 0.16875rem 0.625rem;
    font-size:0.275rem;
    font-family:"Microsoft YaHei";
    color:rgb(48,48,48);
  }

}

.promotion{
  display:flex;
  height: 6rem;
  background: white;
}

.promotion_type{
  margin-left:0.625rem;
  width:90%;
  display:flex;
  span:first-child{
    font-size:0.375rem;
    font-family:"Microsoft YaHei";
    color:rgb(48,48,48);
  }
  .checkboxflex{
    width:100%;
    // span{
    //   font-size:0.275rem;
    //   position:relative;
    //   top:-0.15rem;
    // }
  }
}

.rebate_choose{
  margin-left:0.5rem;
  span{
    font-size:0.375rem;
    font-family:"Microsoft YaHei";
    color:rgb(48,48,48);
  }
  select{
    width:2.625rem;
    height:0.625rem;
  }
}

.promotionnumber{
  margin-left:0.625rem;
  margin-top:0.16875rem;
  span:first-child{
    font-size:0.275rem;
    font-family:"Microsoft YaHei";
    color:rgb(48,48,48);
  }
  input{
    width:3.9625rem;
    height:0.625rem;
  }
  span:nth-child(3){
    font-size:0.375rem;
    font-family:"Microsoft YaHei";
    color:#d22018;
    margin-left:0.78125rem;
    margin-right:0.78125rem;
  }
  span:nth-child(4){
    font-size:0.375rem;
    font-family:"Microsoft YaHei";
    color:#d22018;
  }
  p{
    margin-left:1.5rem;
    margin-top:0.05rem;
    font-size:0.3rem;
    font-family:"Microsoft YaHei";
    color:#d22018;
  }
}

.promoLink{
  margin-left:0.625rem;
  margin-top:0.16875rem;
  vertical-align:middle;
  span{
    font-size:0.355rem;
    font-family:"Microsoft YaHei";
    color:rgb(48,48,48);
  }
  p{
    float: right;
    margin-right:0.646875rem;
    margin-top:0.05rem;
  }
  input{
    width:6.25rem;
    height:0.625rem;
  }
  .ccopy{
    position:relative;
    width:1rem;
    left:6.5rem;
    top:-1.28rem;
    color:#fff;
    background:red;
    border:1px solid red;
    border-radius:5px;
  }
}

.wechaterweima{
  margin-left:3.25rem;
  margin-top:0.33125rem;
  display: none;

  span:first-child{
    font-size:0.375rem;
    font-family:"Microsoft YaHei";
    color:rgb(48,48,48);
  }
  span:nth-child(2){
    font-size:0.375rem;
    font-family:"Microsoft YaHei";
    color:#d22018;
  }
  div{
    margin-top:0.46875rem;
    margin-left:2.05625rem;
    border:0.0245rem solid grey;
    width:3rem;
    height:3rem;
    text-align:center;
    line-height:3rem;
    color:#d22018;
  }
}
.promoArea{
  background-color: white;
  height:6rem;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    #cccccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #cccccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #cccccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #cccccc;
}
.am-list-item .am-list-line .am-list-content {
  display: flex;
}
.calendar-list .right {
  float: right;
}


