
.guidance{
  width: 100%;
  height: 100%;
  background: url("../img/home/guidance.jpg");
  background-size:100% 100%;
  position: fixed;
    .LOGO {
      background-image: url("../img/home/LOGO.png");
      display: block;
      position: absolute;
      width: 90%;
      left: 5.5%;
      height: 6.1rem;
      background-size: 100% 100%;
      top: -3%;
    }
  @media screen and (min-width:500px){
    .LOGO{
      width:50%;
      height:4.5rem;
      left: 50%;
      top: 0;
      box-sizing: border-box;
      transform: translate(-50%, -20%);
    }
  }
  p{
    width: 100%;
    color: #f2f2f2;
    text-align: center;
    position: absolute;
    top:41%;
    font-size:0.4rem;
  }
  @media screen and (min-width:500px) {
    p{
      top:52%;
    }
  }

  p.APP-p{
    width: 100%;
    position: absolute;
    top:49%;
  }
  @media screen and (min-width:500px) {
    p.APP-p{
      top:65%;
    }
  }
  .guidance-But{
    font-size: 0.45rem;
    height:1.5rem;
    width:5.5rem;
    display: block;
    border-radius: 0.7rem;
    color: #00FEA7;
    border: 2px solid #00FEA7;
    background: #1B1033;
    line-height: 0.5px;
    margin-bottom: 10px;
  }
  @media screen and (min-width:500px) {
    .guidance-But{
      height:1rem;
      width:4.5rem;
      margin: auto;
    }
  }
  .a-but1{
    position: absolute;
    top:55%;
    left: 22.5%;
    width: 55%;
  }
  @media screen and (min-width:500px) {
    .a-but1{
      top:80%;
      left: 0;
    }
  }
  .guidance-But2{
    font-size: 0.45rem;
    height:1.5rem;
    width:5.5rem;
    display: block;
    border-radius: 0.7rem;
    color: #FEF200;
    border: 2px solid #FEF200;
    background: #1B1033;
    line-height: 0.5px;

  }
  @media screen and (min-width:500px) {
    .guidance-But2{
      height:1rem;
      width:4.5rem;
      margin: auto;
    }
  }
  .a-but2{
    position: absolute;
    top:67%;
    left: 22.5%;
    width: 55%;
  }
  @media screen and (min-width:500px) {
    .a-but2{
      top:80%;
      left: 50%;
    }
  }
  .ant-btn > .anticon {
    line-height: 0.5px;
  }
  .but-Ant{
    padding-right: px2rem(24px);
  }
  .a-home{
    display: block;
    position: absolute;
    top: 30%;
    width: 55%;
    left: 22.5%;
    height: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: .9rem;
    border: 2px solid;
    vertical-align: middle;
    border-radius: 30px;
    color: red;
    //background: url("../img/home/webydy.png");
    background-size: 100% 100%;

  }
  @media screen and (min-width:500px) {
    .a-home {
      width: 45%;
      left: 50%;
      top: 35%;
      box-sizing: border-box;
      transform: translate(-50%, -20%);
    }
  }
}