.hall {
	.am-tabs-default-bar {
		width: 100%;
		height:auto;
		overflow: visible;
		z-index: 1;
		.am-tabs-default-bar-tab {
			position: relative;
			background: #a40000;
			height: 1rem;
			line-height: 1rem;
			padding: 0;
			border: none;
			color: #fff;
			font-size: 0.35rem;
		}
		.am-tabs-default-bar-underline {
			border: 0.05rem solid #fff;
		}
	}

	.am-tabs-content-wrap  {
		padding-top: 0.2rem;
	}

	a {
		display: block;
		background: #fff;
		height: 2.12rem;
		margin-bottom: 0.2rem;
		text-decoration: none;
		color: #c9c9c9;
		.gameLeft {
			padding: 0.35rem;

			i {
				width: 1.40625rem;
				height: 1.40625rem;
			}
		}

		.gameMid {
			.prize-num{
				div{
					color: orange;
					font-size: 0.375rem;
				}
			}

			h3 {
				font-size: 0.45rem;
				color: #d22018;
				padding-top: 0.15rem;
			}
			.date{
				color:#838793;
			}

			p {
				font-size: 0.375rem;
				font-family: 'Simhei';
				display: inline-block;
			}
		}

		.gameRight {
			float: right;
			width: 1rem;
			height: 2rem;
			font-size: 1rem;
			line-height: 1.8rem;

			i {
				display: inline-block;
				width: 0.38rem;
    			height: 0.65rem;
			}
		}
	}
}
