

.lt-k3-wrapper{

   .ch_chart .ch_num_box .ch_num_show li {
     margin: 0.2625rem 0.25rem;
    p {
      color: red;
      font-size: 0.3625rem;
      text-align: center;
    }
  }
  background-color: #ffffff;
  .nav{
    height: .703125rem;
    line-height: .703125rem;
    color: #303030;
    font-size: .375rem;
    span:first-child{
      padding-left: .625rem;
      font-size:0.5rem;
    }
    span:nth-child(2){
      padding-right: .625rem;
      float: right;
      color: #d22018;
    }
  }
  .one_num{
    margin:0.2rem auto;
    ul li{
      width: 1.11rem;
      height: 1.11rem;
      margin: 0.1rem 0.275rem;
      padding: 0;
      display: inline-block;
      border-radius: 0;
      box-shadow: none;
      &.k3-1{
        background:url("../img/global/sifter1.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-2{
        background:url("../img/global/sifter2.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-3{
        background:url("../img/global/sifter3.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-4{
        background:url("../img/global/sifter4.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-5{
        background:url("../img/global/sifter5.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-6{
        background:url("../img/global/sifter6.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-01{
        background:url("../img/global/sifter01.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-02{
        background:url("../img/global/sifter02.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-03{
        background:url("../img/global/sifter03.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-04{
        background:url("../img/global/sifter04.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-05{
        background:url("../img/global/sifter05.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
      &.k3-06{
        background:url("../img/global/sifter06.png") no-repeat;
        background-size: 1.11rem 1.11rem;
      }
    }
  }
  .one_num1{
    width:100%;
    height:0.3rem;
    background:#f2f2f2;
  }
  .two_num {
    ul li {
      margin: 0.3rem 0.5rem;
      display: inline-block;
      border-radius: 0;
      box-shadow: none;
      width:2.3rem;
      height:1.1rem;
      &.k3-11{
        background:url("../img/global/sifter11.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-22{
        background:url("../img/global/sifter22.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-33{
        background:url("../img/global/sifter33.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-44{
        background:url("../img/global/sifter44.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-55{
        background:url("../img/global/sifter55.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-66{
        background:url("../img/global/sifter66.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-011{
        background:url("../img/global/sifter011.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-022{
        background:url("../img/global/sifter022.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-033{
        background:url("../img/global/sifter033.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-044{
        background:url("../img/global/sifter044.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-055{
        background:url("../img/global/sifter055.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
      &.k3-066{
        background:url("../img/global/sifter066.png") no-repeat;
        background-size: 2.3rem 1.1rem;
      }
    }
  }
  .three_num {
     ul li{
        display: inline-block;
        border-radius: 0;
        box-shadow: none;
        margin:0.2rem 0.5rem;
       width: 3.8rem;
       height: 1.11rem;
       &.k3-111{
         background:url("../img/global/sifter111.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-222{
         background:url("../img/global/sifter222.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-333{
         background:url("../img/global/sifter333.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-444{
         background:url("../img/global/sifter444.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-555{
         background:url("../img/global/sifter555.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-666{
         background:url("../img/global/sifter666.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-0111{
         background:url("../img/global/sifter0111.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-0222{
         background:url("../img/global/sifter0222.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-0333{
         background:url("../img/global/sifter0333.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-0444{
         background:url("../img/global/sifter0444.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-0555{
         background:url("../img/global/sifter0555.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
       &.k3-0666{
         background:url("../img/global/sifter0666.png") no-repeat;
         background-size: 3.8rem 1.1rem;
       }
      }
    }
  .three_all{
    ul li{
      color: #D22029;
      display: inline-block;
      width: 4.5rem;
      height: 1.5rem;
      border-radius: 0.3rem;
      box-shadow: none;
      background-size: cover;
      text-align: center;
      line-height: 1.5rem;
      font-size: 0.5rem;;
      margin:0.3rem 0 0.3rem 2.5rem;
      &.san1{
          background:url("../img/global/san1.png") no-repeat;
      }
      &.san{
        background:url("../img/global/san.png") no-repeat;
      }
    }
  }
}
