.login {
  background: #f2f2f2;
  position: absolute;
  left: 0;
  top: 1rem;
  right: 0;
  overflow: hidden;
  bottom: 0;

  .login_top {
    height: 3.7rem;
    background: #fff;
    width: 8.5rem;
    margin: 0 auto;
    position: relative;
    top: 0.7rem;
    border-radius: 0.2rem;
    padding: 0.3rem;
    .div1{
      position: absolute;
      height: 2px;
      width: 100%;
      top:1.05rem;
      background: red;
      animation-name:light;
      animation-duration:2s;
      animation-iteration-count:1;
    }
    @keyframes light {
      from {
        background: red;
        left: 100%;
        width: 0;
      }
      to {
        background: red;
        left: 0;
        width: 100%;
      }
    }

    .light {
      animation-name: light;
      animation-timing-function: linear;
    }
    .div2{
      position: absolute;
      height: 2px;
      width: 0;
      top:1.05rem;
      background: red;
      animation:lightSpeed 2s;
      animation-iteration-count:1;
    }
    @keyframes lightSpeed {
      from {
        background: red;
        left: 0;
        width: 100%;
      }
      to {
        background: red;
        left: 100%;
        width:0;
      }
    }

    .lightSpeed {
      animation-name: lightSpeed;
      animation-timing-function: linear;
    }
    .ant-form-item {
      margin-bottom: 0;
    }
    ul {
      li {
        background: #fff;
        list-style: none;
        width: 100%;
        height: 1.1rem;
        display: block;
        position: relative;
        .verifyCode{
          width: 3rem;
          padding-top: 0.35rem;
        }
        .yzm{
          float: right;
          width: 2rem;
          height: 0.8rem;
          display: inline-block;
          margin-left: 0.5rem;
          margin-top: 0.2rem;
          font-size: 0.28rem;
          line-height: 0.8rem;
          text-align: center;
          color: #333;
          background: #f5f5fc;

        }
        i {
          width: 0.8rem;
          height: 0.7rem;
          display: inline-block;
          margin-top: 0.2rem;
        }
        .span{
          color: #303030;
          font-size: 0.375rem;
          padding-left: 0.15625rem;
          padding-right: 0.25rem;
          padding-top:0.15rem;
        }
        span {
          padding-top: 0.2rem;
          font-size: 0.3rem;
          color: #d22018;
          padding-right: 0.5rem;
        }

        input {
          text-align: left;
          font-size: 0.38rem;
          font-weight: normal;
          margin-right: 0;
          margin-top: 0;
          width: 6rem;
          height: 1rem;
          line-height:px2rem(40px);
          outline: none;
          border: none;
          color: #7e7e7e;
          box-shadow: none;
          display: inline-block;
        }
      }
    }
  }

  .login_button {
    height: 5rem;
    width: 9.5rem;
    margin: 0 auto;
    position: relative;
    top: 1rem;
    border-radius: 0.2rem;

    .login_gary {
      background: #fff;
      color: #d22018;
    }

    .login-form-forgot {
      padding-right: 0.6rem;
      float: right;
      color: #303030;
      font-size: 0.45rem;
    }

    p {
      text-align: center;
      margin: 0.5rem;

      button {
        width: 100%;
        background: #d22018;
        color: #fff;
        display: block;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 0.4rem;
        border-radius: 0.2rem;
        border: none;
      }
    }

    .tip{
      font-size:0.35rem;
      color:red;
      margin:0.4rem;
      margin-top:-0.8rem;
      text-align:left;
      padding:0.2rem;
    }
  //  复选框
    .ant-checkbox-wrapper{
      margin-left: 0.6rem;
      font-size: 0.45rem;
      color: #303030;
    }
    .ant-checkbox-inner{
      width: 0.5rem !important;
      height: 0.5rem !important;
    }
    .ant-checkbox-inner:after{
      left: 6px !important;
      top: 2px;
      display: table;
      width: 6px !important;
      height: 12px !important
    }







  }

  .icon_password {
    background: url("../img/login/icon_password.png") no-repeat;
    height: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-size: 86%;
  }

  .icon_username {
    background: url("../img/login/icon_username.png")  no-repeat;
    height: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-size: 86%;

  }
}
