//走势

.lottery-trend-wrap{
  position: absolute;
  background: #f2f2f2;
  width: 10.0rem;
  top: 1rem;
  bottom:0;
  overflow: hidden;
  color: #303030;


  .am-tabs-tab-bar-wrap{
    margin: px2rem(10px) 0 px2rem(18px);
    .am-tabs-default-bar-tab{
      padding: 0;
      height:px2rem(60px);
      color:#444;
      background:#fff;
      font-size: px2rem(26px);
      border-right:1px solid #c2c2c4;
      &:last-child{
        border-right:none;
      }
    }
    .am-tabs-default-bar-tab-active{
      color:#fff;
      background:#d22018;
    }
    .am-tabs-default-bar-underline{
      display: none;
    }
  }
  //双色球和3D没有头部切换
  &.nohead{
    .am-tabs-tab-bar-wrap{
      height: 0;
      overflow: hidden;
    }
  }
  //table

  .trend-table-wrap{
    width: 10rem;
    position: absolute;
    top:0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .trend-table-tr{
    display: flex;
    b,label{
      flex-grow: 1;
      min-width: px2rem(40px);
      flex-basis:px2rem(40px);
      height:px2rem(40px);
      line-height: px2rem(40px);
      text-align: center;
      background: #fff;
      font-size: px2rem(20px);
      align-items: center;
      border-left:1px solid #c2c2c4;
      &:first-child{
        flex-grow: 0;
        font-size: px2rem(22px);
        min-width: px2rem(160px);
        flex-basis:px2rem(160px);
        width:px2rem(160px);
        border-left: none;
      }
    }


  }

  .trend-table-head.trend-table-tr{

      b{
        font-weight: 500;
        height:px2rem(60px);
        line-height:px2rem(60px);
        border-bottom:1px solid #c2c2c4;
        font-size: px2rem(26px);
        color:#303030;
      }


  }
  .trend-table-body{
    //position: absolute;
    //top:px2rem(60px);
    //bottom: 0;
    //width:100%;
    //overflow-y: auto;

    .trend-table-tr:nth-child(2n+1)  label{
      background: #f3f3f3;
    }


  }
  .ball{
    position: relative;
    top:0;
    z-index: 10;
    display: inline-block;
    width: px2rem(30px);
    height: px2rem(30px);
    background: #d22018;
    font-style: normal;
    line-height: px2rem(30px);
    border-radius: px2rem(30px);
    color:#fff;
  }
  //每种彩种对应颜色
  .cell-big,.cell-odd,.cell-dragon{
    color:#d22018;
  }
  .cell-small,.cell-even,.cell-tiger{
    color:#1c971b
  }
  .cell-red{
    background:#d22018;
  }
  .color-red{
    color:#d22018;
  }

  .cell-green{
    background:#1c971b;
  }
  .cell-blue{
    background:#00b6ff;
  }
  .cell-orange{
    color:#ff9300;
  }
  .cell-pink{
    color: #ff06a8;
  }
  .pk-01 {
    background-color: #e8e230;
  }
  .pk-02 {
    background-color: #4798d8;
  }
  .pk-03 {
    background-color: #5f5f5f;
  }
  .pk-04 {
    background-color: #e37439;
  }
  .pk-05 {
    background-color:#21bdd0;
  }
  .pk-06 {
    background-color: #6f5fed;
  }
  .pk-07 {
    background-color: #b9b3b3;
  }
  .pk-08 {
    background-color: #e7352e;
  }
  .pk-09 {
    background-color: #6e1613;
  }
  .pk-10 {
    background-color: #7ee87c;
  }
  .xy-01{
    background-color:#e3f736;
  }
  .xy-02{
    background-color: #0098e1;
  }
  .xy-03{
    background-color: #ceced6;
  }
  .xy-04{
    background-color: #f56c07;
  }
  .xy-05{
    background-color: #2ff0e9;
  }
  .xy-06{
    background-color: #ff2929;
  }
  .xy-07{
    background-color: #ff2929;
  }
  .xy-08{
    background-color: #e4393c;
  }
  .xy-09{
    background-color: #ff2929;
  }
  .xy-10{
    background-color: #36f764;
  }
  .poker-ball{
    margin-top: px2rem(2px);
    display: inline-block;
    width: px2rem(36px);
    height: px2rem(36px);
    background: url(../img/lottery/klpk/klpk.png) no-repeat;
    background-size: px2rem(73px) px2rem(71px);
    position: relative;
    top:0;
  }
  .poker-ball-s{
    background-position:px2rem(-38px) 0;
  }
  .poker-ball-h{
    background-position:0 px2rem(1px);
  }
  .poker-ball-c{
    background-position:px2rem(1px) px2rem(-36px);
  }
  .poker-ball-d{
    background-position:px2rem(-37px) px2rem(-35px);
  }
  i.top{
    position: absolute;
    background: #fff;
    width: px2rem(22px);
    height: px2rem(22px);
    border-radius: 50%;
    border: 1px solid #333;
    color: #333;
    display: block;
    top: px2rem(-6px);
    left: px2rem(20px);
    line-height: px2rem(18px);
    text-align: center;
  }
  .poker-pattern{
    display: inline-block;
    width: px2rem(70px);
    height: px2rem(30px);
    color: #fff;
    line-height: px2rem(30px);
  }
  .poker-pattern-1{
    background: #d22018;
  }
  .poker-pattern-2{
    background: #00b6ff;
  }
  .poker-pattern-3{
    background: #1c971b;
  }
  .poker-pattern-4{
    background: #ff06a8;
  }
  .poker-pattern-5{
    background: #7ee87c;
  }
  .poker-pattern-6{
    background: #6f5fed;
  }


}

