.globalMessage{
  width: 70%;
  position: fixed;
  left: 15%;
  z-index: 1010;
  top:px2rem(30px);
  text-align: center;
  .message-notice-content{
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: inline-block;
    pointer-events: all;
    span{
      padding-left: px2rem(10px);
    }

    .message-warning .anticon {
      color: #ffbf00;
    }
    .message-info .anticon {
      color: #108ee9;
    }
    .message-success .anticon {
      color: #00a854;
    }
    .message-error .anticon {
      color: #f04134;
    }
  }
}