//开奖信息  by soldier
//.open-wrap1{
//  position: absolute;
//  width: 10rem;
//  top: 0;
//  bottom: 0;
//  animation:fadeInRight .8s;
//  animation-iteration-count:1;
//  @keyframes fadeInRight {
//    from {
//      opacity: 0;
//      transform: translate3d(100%, 0, 0);
//    }
//
//    to {
//      opacity: 1;
//      transform: none;
//    }
//  }
//
//  .fadeInRight {
//    animation-name: fadeInRight;
//  }
//}
.open-wrap{
  -webkit-overflow-scrolling : touch;
  .open-award-wrap{
    position: absolute;
    background: #fff;
    width: 10rem;
    top: 1rem;
    bottom: 1.484375rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: #303030;
    height:px2rem(120px);
  }
  .open-award{
    width:100%;
    height:px2rem(120px);
    position: fixed;
    z-index: 10;
    background:#f2f2f2;
    >p {
      padding: px2rem(19px) 0 0;
      text-align: center;
      >span {
        width: px2rem(34px);
        height: px2rem(52px);
        font-size: px2rem(38px);
        color: #d22018;
        display: inline-block;
        line-height: px2rem(52px);
        &.lt-unit{
          width:px2rem(64px);
        }
      }
    }
    >div{
      margin: px2rem(17px) 0 0;
      line-height: 100%;
      text-align: center;
      font-size: px2rem(20px);
      color:#303030;
    }
  }

  /*开奖导航条*/
  .opennav-wrap{
    height:px2rem(50px);
    font-size: 0;
  }
  .opennav {
    width:100%;
    text-align: center;
    ul {
      display: inline-block;
      overflow: hidden;

      li {
        width: px2rem(120px);
        height:px2rem(50px);
        display: inline-block;
        text-align: center;
        background: #fff;
        position: relative;
        .opennav-border{

        }
        &:last-child .opennav-border{
          display: none;
        }
        span{
          line-height: px2rem(50px);
        }
        &.active{
          &:after{
            display: block;
            width:px2rem(90px);
            height:px2rem(2px);
            content:"";
            position: absolute;
            left:50%;
            margin-left: px2rem(-45px);
            bottom:px2rem(5px);
            background: #d22018;
          }
        }

      }
    }
  }


  .open-tab{
    .am-tabs-tab-bar-wrap{
      margin-bottom: px2rem(12px);
    }
    position: absolute;
    background: #f2f2f2;

    top:px2rem(184px);
    bottom:0;
    width:100%;
    .am-tabs-default-bar{
      width: 100%;
      height:auto;
      overflow: visible;
      z-index: 1;
      background: #fff;
      .am-tabs-default-bar-tab{
        color:#838793;
        font-size: px2rem(22px);
        padding: 0;
        height:px2rem(50px);
        position: relative;
        &:before{
          content: "";
          display: block;
          height:px2rem(33px);
          width:px2rem(2px);
          position: absolute;
          right:0;
          top:px2rem(8px);
          background: #c9c9c9;
        }
        &:nth-child(5):before{
          display: none;
        }
      }

      .am-tabs-default-bar-tab-active{
        color:#d22018;
        font-weight: 600;
      }
      .am-tabs-default-bar-underline{
        background: #d22018;
        height:px2rem(1px);
        border-color: #d22018;

      }
    }
    .am-tabs-content-wrap{
      margin-bottom: 1.5rem;
      -webkit-overflow-scrolling : touch;
    .am-tabs-pane-wrap{
      //overflow: hidden;
    }
    }
  }
  /*开奖列表*/
  .open-index-list{
    .am-pull-to-refresh.am-pull-to-refresh-down{
      -webkit-overflow-scrolling : touch;
    }
    .am-pull-to-refresh-content-wrapper,.am-pull-to-refresh-transition{
      min-height: 100%;
    }
    .am-pull-to-refresh-indicator{//下拉刷新
      text-align: center;
      font-size: px2rem(16px);
      svg{
        width:px2rem(50px);
        height:px2rem(50px);
      }
    }
    .openli{
      height:px2rem(130px);
      margin-bottom:px2rem(12px);
      position: relative;
      padding: 0 px2rem(36px);
      background: #fff;
      .lt-icon{
        width:px2rem(100px);
        height:px2rem(100px);
        float: left;
        margin-top: px2rem(15px);

        margin-right:px2rem(24px);
      }
      h3{
        padding: px2rem(20px) 0 px2rem(20px);
        font-size: px2rem(26px);
        line-height: px2rem(28px);
        color:#303030;
      }
      .time{
        position: absolute;
        top:px2rem(24px);
        right:px2rem(36px);
        font-size: px2rem(22px);
        line-height: 100%;
        color:#838793;
      }

    }

    //箭头
    .anticon-right{
      font-size: px2rem(30px);
      color:#838793;
      position: absolute;
      right:px2rem(34px);
      bottom:px2rem(25px);
    }

  }

  .open-history-list{
    background: #fff;
    position: absolute;
    width: 10.0rem;
    top: 1rem;
    bottom: px2rem(80px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    color: #303030;
    .separate-item{
      height: px2rem(104px);
      padding: px2rem(20px) px2rem(34px) 0 0;
      margin: 0 0 0 px2rem(34px);
      border-bottom:1px solid #f2f2f2;
      position: relative;
      .separate-item-title{
        font-size: px2rem(18px);
        line-height: px2rem(18px);
        color:#e7e7e7;
        >span{
          padding-right: px2rem(23px);
          color:#8f8e94;
        }
      }
      .prize-num{
        margin-top:px2rem(20px);
      }

      .anticon{
        line-height: px2rem(104px);
        font-size: px2rem(36px);
        color:#c7c7cc;
        position: absolute;
        top: 0;
        right:px2rem(24px);
      }
    }

  }


  // 列表组件
  .foot-btn-warp{
    height:px2rem(80px);
    >div{
      position: fixed;
      width:100%;
      bottom:0;
      border-top: 1px solid #c5c5c5;
    }

    .foot-btn{
      height:px2rem(80px);
      font-size: px2rem(28px);
      line-height: px2rem(80px);
      text-align: center;
    }
    .btn-bet{

      color:#d22018;
      background: #f2f2f2;
    }
    .btn-trend{

      color:#fff;
      background: #d22018;
    }
  }
  //开奖详情
  .win-detail-wrap{
    position: absolute;
    background: #fff;
    width: 10.0rem;
    top: 1rem;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    color: #303030;

    .win-detail-head{
      margin: px2rem(31px) 0 0 px2rem(48px);
      h3{
        float: left;
        margin-right:px2rem(15px);
        font-size: px2rem(26px);
        line-height: 100%;
        color:#303030;
      }
      span{
        margin-right:px2rem(15px);
        font-size: px2rem(18px);
        line-height: px2rem(26px);
        color:#838793;
      }
    }
    //开奖号码
    .prize-num{
      //普通
      ul{
        li{
          width:px2rem(46px);
          height:px2rem(46px);
          margin-right: px2rem(10px);
          float: left;

          font-size: px2rem(28px);
          color:#fff;
          text-align: center;
          line-height: px2rem(46px);
          border-radius:100%;
        }
      }


      .icon-sifter{
        transform: scale(1.5);
        margin-right: px2rem(20px);;
      }
    }


    hr{
      width:px2rem(580px);
      margin: px2rem(25px) auto;
      border: none;
      border-top:1px solid #cecece;
    }
    //开奖table
    .win-table{
      outline:1px solid #cecece;
      .win-tr{
        flex-direction:  row;
        overflow: hidden;
        &:last-child{
          .win-td{

            border-bottom: none;
          }
        }
        .win-td{
          float: left;
          width:50%;
          border-right: 1px solid #cecece;
          border-bottom: 1px solid #cecece;
          text-align: center;
          font-size:px2rem(22px);
          color:#303030;
          span{
            color:#d22018;
          }
          &:last-child{
            border-right:none;
          }
        }
      }
    }
    //当前总览奖金
    .current-prize{
      width:px2rem(532px);
      margin: px2rem(25px) auto;
      .win-tr{
        .win-td{
          height:px2rem(50px);
          line-height: px2rem(50px);

        }
      }
    }

    //当前详细奖金
    .current-prize-detail{
      width:px2rem(532px);
      margin: px2rem(25px) auto;
      .win-tr{
        .win-td{
          height:px2rem(40px);
          line-height: px2rem(40px);
          font-size: px2rem(20px);
          span{
            font-size: px2rem(18px);
          }
          &:first-child{
            width:px2rem(115px);
            font-size: px2rem(20px);
          }
          &:nth-child(2){
            width:px2rem(184px);
            font-size: px2rem(20px);
          }
          &:last-child{
            width:px2rem(233px);
            font-size: px2rem(20px);
          }
        }
        &:first-child{
          .win-td{
            height:px2rem(53px);
            font-size: px2rem(24px);
            line-height: px2rem(53px);
            color:#5b5b5b;
          }
        }


      }

    }

    //开奖号
    .prize-num{
      text-align: center;
      margin-top:px2rem(28px);
      div{
        color: red;
      }
      ul{
        li{
          float: none;
          display: inline-block;
        }
      }

    }
    //立刻投注btn
    .submit-btn{
      margin: px2rem(300px) auto 0;
      width:px2rem(350px);
      height:px2rem(50px);
      background: #d22018;
      text-align: center;
      font-size: px2rem(28px);

      line-height: px2rem(50px);
      a{ color:#fff;}
    }

  }

}
