.order {
  position: absolute;
  top: 1rem;
  width: 10.0rem;
  bottom: 0;
  overflow: auto;
  //计算盈亏
  .zhudanyinkui {
    background:#eee;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size:0.3rem;
    div{border:0.5px solid #000;}
     p{margin:0 1rem;}
    .yinkui{
      display:flex;
      li{
        width:3.68rem;
        height:0.6rem;
      }
    }
  }
  .am-tabs-horizontal{
    height: 1rem;
    overflow: hidden;
  }
  .am-tabs-default-bar-tab {
    background: #a40000;
    color: #fff;
    height: 1rem;
    .am-badge {
      font-size: 0.4rem;
    }
  }
  .am-tabs-default-bar-underline {
    border: 1px solid #fff;
  }
  .orderlist {
    width: 100%;
    .am-pull-to-refresh-content-wrapper{
      overflow: visible;
    }
    .orderlist-content{
      position: absolute;
      top: 2rem;
      width: 10.0rem;
      bottom:0;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
  .table-head {
    height: 1rem;
    width: 100%;
    span {
      display: block;
      float: left;
      width: 25%;
      text-align: center;
      line-height: 1rem;
      font-size: 0.45rem;
      color: #000;
    }
  }
  .table-body {
    margin-bottom:0.53rem;
    white-space: nowrap;
    .bottom_border {
      bottom-border: 1px solid #ddd;
      .win {
        color: #d22018;
      }
    }

    li {
      height: 1rem;
      line-height: 1rem;
      font-size: 0.4rem;
      background: #fff;
      color: #303030;
      span {
        width: 25%;
        text-align: center;
        font-size: 0.31rem;
        display: inline-block;
      }
      a {
        color: #303030;
      }
    }
  }

  .data2_block {
    position: absolute;
    top: 2rem;
    text-align: center;
    p {
      width: 10rem;
      height: 8rem;
      img {
        width: 8rem;
      }
    }
    h2 {
      margin-top: 1rem;
    }
    span {
      font-size: 0.4rem;
      color: #FF6100;
    }
    a {
      display: inline-block;
      text-align: center;
      line-height: 0.8rem;
      nmargin-left: 2.6rem;
      width: 3rem;
      margin-top: 0.5rem;
      font-size: 0.4rem;
      background: #FF6100;
      color: #fff;
      height: 0.8rem;
      border: none;
    }

  }
}



.eziDay {
  position: fixed;
  top: 0.2rem;
  right: 0.3rem;
  z-index: 99;
}




