//扑克

//<i className="poker-icon poker-club-1"></i> 梅花1
//<i className="poker-icon poker-diamond-1"></i> 方块1
//<i className="poker-icon.poker-1h"></i> 红心1
//<i className="poker-icon.poker-1s"></i> 黑桃1





.poker-icon {
  background: url("../img/global/poker-icon.png") no-repeat;
  display: block;
  background-size: px2rem(68px) px2rem(2392px);
}

.poker-Tc {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-5px);
}

.poker-Jc {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-51px);
}

.poker-Qc {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-97px);
}

.poker-Kc {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-143px);
}

.poker-Ac {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-189px);
}

.poker-2c {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-235px);
}

.poker-3c {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-281px);
}

.poker-4c {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-327px);
}

.poker-5c {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-373px);
}

.poker-6c {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-419px);
}

.poker-7c {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-465px);
}

.poker-8c {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-511px);
}

.poker-9c {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-557px);
}

.poker-Td {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-603px);
}

.poker-Jd {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-649px);
}

.poker-Qd {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-695px);
}

.poker-Kd {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-741px);
}

.poker-Ad {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-787px);
}

.poker-2d {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-833px);
}

.poker-3d {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-879px);
}

.poker-4d {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-925px);
}

.poker-5d {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-971px);
}

.poker-6d {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1017px);
}

.poker-7d {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1063px);
}

.poker-8d {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1109px);
}

.poker-9d {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1155px);
}

.poker-Th {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1201px);
}

.poker-Jh {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1247px);
}

.poker-Qh {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1293px);
}

.poker-Kh {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1339px);
}

.poker-Ah {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1385px);
}

.poker-2h {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1431px);
}

.poker-3h {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1477px);
}

.poker-4h {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1523px);
}

.poker-5h {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1569px);
}

.poker-6h {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1615px);
}

.poker-7h {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1661px);
}

.poker-8h {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1707px);
}

.poker-9h {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1753px);
}

.poker-Ts {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1799px);
}

.poker-Js {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1845px);
}

.poker-Qs {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1891px);
}

.poker-Ks {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1937px);
}

.poker-As {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-1983px);
}

.poker-2s {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-2029px);
}

.poker-3s {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-2075px);
}

.poker-4s {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-2121px);
}

.poker-5s {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-2167px);
}

.poker-6s {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-2213px);
}

.poker-7s {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-2259px);
}

.poker-8s {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-2305px);
}

.poker-9s {
  width: px2rem(64px);
  height: px2rem(38px);
  background-position: px2rem(-5px) px2rem(-2351px);
}
