.vindicate{
  h1{
    padding-top: 1.375rem;
    text-align: center;
    color: #d22018;
    font-size:px2rem(110px) ;
  }
  p{
    text-align: center;
    font-size: 0.5rem;
    color: #303030;
  }
  a{
    font-size: 0.5rem;
    display: inline-block;
    padding-left: 0.3rem;
    text-decoration:underline;
    letter-spacing:2px;
    color: #0c00ff;
  }
  b{
    margin-top:0.4rem;
    width:4rem;;
    height:0.89375rem;
    display: inline-block;
    margin-bottom: 1.38rem;;
    background: url("../img/user/icon_service.png") no-repeat;
  }
  .img{
    width:90%;
    height:50%;
    left: 5%;
    background: url("../img/home/vindicate.png") no-repeat;
    background-size:100% ;
    position: absolute;
  }

}
